@{
    ViewBag.Title = "Quasar - исторические и реалтайм рыночные данные";
}

<div class="container">
    <div class="jumbotron">
        <h1>Quasar</h1>
        <p class="lead">Исторические и рыночные данные для приложений и торговых роботов.</p>
        <p><a href="http://asp.net" class="btn btn-primary btn-lg">Подробнее &raquo;</a></p>
    </div>

    <div class="row">
        <div class="col-md-4">
            <h2>Быстрый старт</h2>
            <p>
                Узнайте о том, как быстро создать приложение и начать пользоваться услугами нашего сервиса.
            </p>
            <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Тарифы и услуги</h2>
            <p>Выберите наиболее подходящий тариф или подключите только те услуги, которые Вам необходимы.</p>
            <p>@Html.ActionLink("Подробнее", "Index", "Subscriptions", null, new { @class = "btn btn-default" })</p>
        </div>
        <div class="col-md-4">
            <h2>Web Hosting</h2>
            <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
            <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
        </div>
    </div>
</div>