body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    background-color: #f5f5f5;
}

.pricing-box {  
    border: 1px solid;
    flex: 1;
}

    .pricing-box header {

    }

    .pricing-box article {
        padding: 10px;
    }

        .pricing-box article ul li {
            border-bottom: 1px dotted #ddd;
            margin-bottom: 5px;
        }

    .pricing-box footer {
        margin-bottom: 20px;
    }

.pricing-box-primary {
    border-color: #337AB7;
}

.pricing-box-price {
    background-color: #EDEDED;
    margin-top: 10px;
}

    .pricing-box-price h4 {
        color: #666666;
    }

.pricing-boxes {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
}

.test{
        display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
}

.pricing-table-cell {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.pricing-boxes .panel {
    /*height: 360px;*/
}

    .pricing-boxes .panel .panel-heading {
        padding-left: 0;
        padding-right: 0;
        padding-bottom: 0;
        border-bottom: 0;
    }

        .pricing-boxes .panel .panel-heading .price {
            background-color: #F5F5F5;
            color: #666666;
            margin-top: 10px;
            border-bottom: solid 1px #ddd;
        }

            .pricing-boxes .panel .panel-heading .price h4 {
                padding: 10px;
                margin: 0;
            }
